body {
  background-color: lightgray;
}

#intro {
  font-family: Arial, Helvetica, sans-serif;
}

article {
  text-align: left;
  border-radius: 8px;
  padding: 16px;
  margin: 5px;
  margin-right: 300px;
  background-color: white;
}

h2 {
  font-family: sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.price {
  color: green;
  font-size: 20px;
  font-style: normal;
}

button {
  color: white;
  background-color: green;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}
